.buttonSave{
   border-radius: 10px;
   font-style: italic;
   font-family:'Lucida Sans',Verdana, sans-serif;
   font-weight: bold;
   color:black;
}
.buttonCancel{
   border-radius: 10px;
   font-style: italic;
   font-weight: bold;
   font-family: 'Lucida Sans',Verdana, sans-serif;
   color: yellow;
}