.primary {
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  background-color:  #E50914;
}