.mat-card-image {
    width: 182px;
    height: 268px;
    margin: auto;
    display: block;
}
.buttonEditar{
    border-radius: 10px;
    font-style: italic;
    font-family:'Lucida Sans',Verdana, sans-serif;
    font-weight: bold;
    color:black;
 }
 .buttonExcluir{
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lucida Sans',Verdana, sans-serif;
    color: yellow;
 }
 .buttonTrailer{
    border-radius: 10px;
    font-style: italic;
    font-family:'Lucida Sans',Verdana, sans-serif;
    font-weight: bold;
    color:black;
    margin: 10px;
 }